<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
  <head>
    {% block title %}
    {% endblock %}
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">
        {% block content %}
        {% endblock %}
        <article>
          {% include 'posts/post_L_Tolstoy_30071854.html' %}
          {% block link_to_recent1 %}
          {% endblock %}
        </article>
        <hr>
        <article>
          {% include 'posts/post_L_Tolstoy_29071854.html' %}
          {% block link_to_recent2 %}
          {% endblock %}
        </article>
        <hr>
        <article>
          {% include 'posts/post_L_Tolstoy_28071854.html' %}
          {% block link_to_recent3 %}
          {% endblock %}
        </article>
        <!-- под последним постом нет линии -->
      </div>
    </main>
    <!-- Использованы классы бустрапа: -->
    <!-- border-top: создаёт тонкую линию сверху блока -->
    <!-- text-center: выравнивает текстовые блоки внутри блока по центру -->
    <!-- py-3: контент внутри размещается с отступом сверху и снизу -->
    <footer class="border-top text-center py-3">
      {% include 'includes/footer.html' %}
    </footer>
  </body>
</html>