<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
{% extends 'base.html' %}
{% load static %}
{% block title %}
  <meta charset="utf-8"> <!-- Кодировка сайта -->
  <!-- Сайт готов работать с мобильными устройствами -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Загружаем фав-иконки -->
  <link rel="icon" href= "{% static 'img/fav/favicon.ico' %}" type="image">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href= "{% static 'img/fav/favicon-16x16.png' %}">
  <meta name="msapplication-TileColor" content="#000">
  <meta name="theme-color" content="#ffffff">
  <!-- Подключен файл со стандартными стилями бустрап -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <title>{{title_groups}}</title>
{% endblock %}
{% block content %}
  <h1>Лев Толстой – зеркало русской революции.</h1>
  <p>
    Группа тайных поклонников графа.
  </p>
{% endblock %}
{% block link_to_recent1 %}
{% endblock %}
{% block link_to_recent2 %}
{% endblock %}
{% block link_to_recent3 %}
{% endblock %}