{% extends 'base.html' %}
{% block title %}
  <meta charset="utf-8"> <!-- Кодировка сайта -->
  <!-- Сайт готов работать с мобильными устройствами -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Загружаем фав-иконки -->
  <link rel="icon" href="img/fav/fav.ico" type="image">
  <link rel="apple-touch-icon" sizes="180x180" href="img/fav/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/fav/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#000">
  <meta name="theme-color" content="#ffffff">
  <!-- Подключен файл со стандартными стилями бустрап -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <title>Лев Толстой – зеркало русской революции.</title>
{% endblock %} 
{% block content %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    <h1>Лев Толстой – зеркало русской революции.</h1>
    <p>
      Группа тайных поклонников графа.
    </p>    
    <article>
      {% include 'includes/post_L_Tolstoy_30071854' %}
    </article>
    <hr>
    <article>
      {% include 'includes/post_L_Tolstoy_29071854 %}
    </article>
    <hr>
    <article>
      {% include 'includes/post_L_Tolstoy_28071854 %}
    </article>
  <!-- под последним постом нет линии -->
  </div>  
{% endblock %}